<div class="container custom-section">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Group",
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "presets": [
    {
      "name": "Group",
      "category": "Layout"
    }
  ],
}
{% endschema %}
